p-dialog {
    width: 400px;
    max-width: 100%;
  }
  
  .p-field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #c39158; /* Color del borde que coincide con tu esquema de color */
    border-radius: 10px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    background-color: #c39158; /* Color de fondo que coincide con el botón anterior */
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #a67947; /* Color más oscuro en hover */
  }
  
  .p-dialog-header {
    background-color: #c39158; /* Mantener coherencia en el estilo de la cabecera del diálogo */
    color: white;
    text-align: center;
  }
  
  .p-dialog-header .p-dialog-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .p-dialog .p-fluid {
    padding: 20px;
  }
  
  .p-dialog .p-dialog-content {
    padding: 0; /* Eliminar padding adicional */
  }
  