<div class="container">
    <div class="user-description">
        <p>{{name}}'s Current Level: {{levelName}}</p>
    </div>

    <div class="level-program">
        <h3>Level Program:</h3>
        <ul>
          <li><strong>Little Croissant:</strong> 30% discount on product of choice weekly</li>
          <li><strong>Croissant:</strong> 50% discount on any product of choice weekly</li>
          <li><strong>Nutella Croissant:</strong> 50% discount and a free product per week</li>
          <li><strong>Extreme Croissant:</strong> A free product per day</li>
        </ul>
        <p>* To maintain Extreme Croissant, at least 150 tables per week must be managed.</p>
      </div>
</div>