<div class="container">
    <div class="user-description">
        <p>{{name}}'s Current Level: {{levelName}}</p>
    </div>

    <div class="level-program">
        <h3>Level Program:</h3>
        <p>You earn C&V points every time you close a table! The more tables you manage, the more points you rack up! Lets close those tables and level up!</p>
        <ul>
          <li><strong>Little Croissant:</strong> You are just getting started! Begin with 0 points and rise to the challenge!</li>
          <li><strong>Croissant:</strong> Reach 500 C&V points to level up from Little Croissant to Croissant!</li>
          <li><strong>Nutella Croissant:</strong> Take it to the next level with 1,000 C&V points and become a Nutella Croissant!</li>
          <li><strong>Extreme Croissant:</strong> Push the limits and hit 2,000 C&V points to earn the title of Extreme Croissant!</li>
        </ul>
        <p>To keep your Extreme Croissant status, you will need to manage at least 150 tables every month. Keep hustling, and your croissant will stay extra crispy!</p>
      </div>
</div>