::ng-deep .p-inputtext {
    border-radius: 10px !important;
}

::ng-deep .p-button {
    border-radius: 8px !important;
}

::ng-deep .custom-send-button .p-button {
    background-color: #4281A4 !important;
    border-color: #4281A4 !important;
}

::ng-deep .custom-send-button .p-button:hover {
    background-color: #035E7B !important; /* Color más oscuro para hover */
    border-color: #035E7B !important;
}

::ng-deep .custom-cancel-button .p-button {
    background-color: #D3D3D3 !important; /* Gris claro */
    border-color: #D3D3D3 !important;
}

::ng-deep .custom-cancel-button .p-button:hover {
    background-color: #B0B0B0 !important; /* Gris más oscuro en hover */
    border-color: #B0B0B0 !important;
}
