html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 5%;
}

.section {
    flex: 1;
}

.image-section {
    flex: 0.5;
    height: 10%;
    width: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-section {
    flex: 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f522e;
    color: #f2f2f2;
    position: relative;
}

.title {
    font-size: 2rem;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.add-product-button {
    position: absolute;
    right: 2%;
    background-color: #caa171; 
    color: #7f522e;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.add-product-button:hover {
    background-color: #b58958;
}

.add-product-button .button-text {
    margin-left: 8%;
  }

.update-stock-button {
    position: absolute;
    right: 13%;
    background-color: #caa171; 
    color: #7f522e;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.update-stock-button:hover {
    background-color: #b58958;
}

.update-stock-button .button-text {
    margin-left: 8%;
  }


.table-section {
    flex: 1;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
}


.p-highlight {
    background-color: #e9cdab !important; 
    color: #7f522e; 
}


p-table {
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        margin-left: 10%;
    }

    .image-section {
        flex: 0.2;
    }

    .title-section {
        flex: 0;
    }
    
    .title {
        font-size: 1.2rem;
        padding: 10px;
    }
    
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5),
    th:nth-child(6),
    th:nth-child(7),
    th:nth-child(8),
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8){
        display: none;
    }

}