.popup-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.subtitle {
    font-size: 1.1rem;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
    margin-top:-20px
}

.goal-type-selection {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.goal-type-button {
    background-color: #7f522e;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 18px;
}

.goal-type-button:hover {
    background-color: #5a3a21;
}

.goal-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

.goal-form-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.goal-label {
    font-weight: bold;
    color: #333;
    min-width: 120px; 
    white-space: nowrap;
}

.goal-label-date {
    font-weight: bold;
    color: #333;
    min-width: 50px; 
    white-space: nowrap;
    margin-left: 12%;
}

.goal-input, 
.target-amount-input, 
.gain-amount-input {
    flex: 1; 
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.confirm-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm-button button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.confirm-button button:hover {
    background-color: #218838;
}

p-colorPicker,
p-dropdown {
    flex: 1; 
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
