::ng-deep .p-inputtext {
    border-radius: 10px !important;
}

::ng-deep .custom .p-button {
    border-radius: 8px !important;
}

::ng-deep .custom .p-button {
    background-color: #ab602f !important;
    border-color: #ab602f !important;
}

::ng-deep .custom .p-button:hover {
    background-color: #894d26 !important;
    border-color: #894d26 !important;
}

::ng-deep .custom .p-button:focus {
    outline: none !important;
}

.items-table-wrapper { overflow-x: auto; }
.items-table { width: 100%; border-collapse: collapse; }
.items-table th, .items-table td { padding: 8px 10px; border-bottom: 1px solid #eee; }
.items-table th { text-align: left; font-weight: 600; }
.right { text-align: right; }
.totals { margin-top: 10px; font-size: 1.05rem; }


@media (max-width: 768px) {
    .container{
        width: 250px;
    }
}
