<div class="container-table-free">

  <div *ngIf="loading" class="loading-overlay">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <!-- Título -->
  <div class="header">
    <h2 class="table-number">Table: {{ table.id }}</h2>
    <span class="status">{{ table.status }}</span>
  </div>

  <div class="body">
    <div class="subtitle">
      <div class="date-time-wrapper">
        <p class="current-date">{{ currentDate | date: 'fullDate' }}</p>
        <p class="current-time">{{ currentTime }}hs</p>
      </div>
    </div>

    <!-- Formulario de la orden -->
    <div class="order-form" *ngIf="orderItems.length > 0">
      <div class="table-wrapper">
        <table class="product-table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Amount</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems">
              <td>{{ getProductById(item.product_id)?.name }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ getProductById(item.product_id)?.price | currency }}</td>
              <td>
                <button class="remove-button" (click)="removeOrderItem(item)">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>

      <div class="category-selection">
        <label for="categories">Select Categories:</label>
        <p-multiSelect 
          id="categories" 
          [options]="categories" 
          [appendTo]="'body'"
          [(ngModel)]="selectedCategories" 
          optionLabel="name" 
          placeholder="Choose Categories" 
          (onChange)="filterProductsByCategory()">
        </p-multiSelect>
      </div>

      <div  *ngIf="selectedCategories.length > 0">
        <div class="add-product">
            <label for="product">Product:</label>
            <p-dropdown 
                [options]="filteredProducts" 
                [(ngModel)]="selectedProduct" 
                optionLabel="name"
                [appendTo]="'body'"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Product">
                
              <ng-template pTemplate="selectedItem" let-selectedProduct>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedProduct?.name }}</div>
                    </div>
                </ng-template>
          
                <ng-template let-product pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ product.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
          
            <label for="amount">Amount:</label>
            <input id="amount" type="number" [(ngModel)]="selectedAmount" min="1" />
          
            <label for="price">Price:</label>
            <input id="price" type="text" [value]="selectedProduct?.price" disabled />
          </div>
          
          <div class="add-product-button">
            <button [disabled]="!selectedProduct" (click)="addOrderItem()">Add Product</button>
          </div>


        <!-- Total -->
        <div class="total">
          <p>Total: {{ calculateTotal() | currency }}</p>
        </div>
      </div>

      

    <!-- Botones de acción -->
    <div class="action-buttons">
      <button pButton label="Create Order" class="create-order-button" (click)="createOrder()" [disabled]="orderItems.length === 0"></button>
      <button pButton label="Close" class="close-button" (click)="closeDialog()"></button>
    </div>
  </div>
</div>
