<div class="container-table-free">

  <div *ngIf="loading" class="loading-overlay">
    <p-progressSpinner></p-progressSpinner>
  </div>

    <div class="header">
      <h2 class="table-number">Table: {{ table.id }}</h2>
      <span class="status">{{ table.status }}</span>
    </div>
  
    <div class="body">
      <div class="subtitle">
        <div class="date-time-wrapper">
          <p class="capacity">Capacity: {{ table.capacity }}</p>
          <p>People: {{amountOfPeople}}</p>
        </div>
        <div class="date-time-wrapper">
          <p class="current-date">{{ currentDate }}</p>
          <p class="current-time">{{ currentTime }}hs</p>
        </div>
      </div>
  
      <!-- Formulario de la orden -->
      <div class="order-form">
        <div class="table-wrapper">
          <table class="product-table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Price</th>
                <!--<th></th>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderItems">
                <td>{{ getProductById(item.product_id)?.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ getProductById(item.product_id)?.price | currency }}</td>
                <!-- <td>
                 <button class="remove-button" (click)="removeOrderItem(item)">
                    <i class="pi pi-trash"></i>
                  </button>
                </td>-->
              </tr>
              
            </tbody>
          </table>
        </div>

        <div *ngIf="wantToAddNewProduct">
          <div class="add-product">
            <label for="product">Product:</label>
            <select id="product" [(ngModel)]="selectedProduct" (change)="onProductChange()">
              <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
            </select>
    
            <label for="amount">Amount:</label>
            <input id="amount" type="number" [(ngModel)]="selectedAmount" min="1" (input)="validateForm()" />
    
            <label for="price">Price:</label>
            <input id="price" type="text" [value]="selectedProduct?.price" disabled />
          </div>
    
          <div class="add-product-button">
            <button  [disabled]="!canAddProduct" (click)="addOrderItem()">Add Product</button>
          </div>
        </div>

        <div *ngIf="!wantToAddNewProduct" class="add-product-button">
          <button (click)="addNewProducts()">Add Products</button>
        </div>
  
      </div>
  
      <!-- Total -->
      <div class="total">
        <p>Total: {{ calculateTotal() | currency }}</p>
      </div>
  
      <!-- Botones de acción -->
      <div class="action-buttons">
        <button pButton label="Close Table" class="create-order-button" (click)="showCloseTableDialog()"></button>
        <button pButton label="Save" class="close-button" (click)="showConfirmDialog()"></button>
      </div>
    </div>
  </div>
  
  <p-dialog class="white-background-modal" [(visible)]="displayConfirmDialog" [modal]="true" header="Save Changes" [closable]="true">
    <app-confirmation-pop-up
      [subtitle]="'Do you want to save your changes?'"
      (onClose)="closeDialog()"
      (onSend)="updateOrder()"
      [cancelLabel]="'No'"
      [sendLabel]="'Yes'">
    </app-confirmation-pop-up>
  </p-dialog>
  
  <p-dialog class="white-background-modal" [(visible)]="displayCloseTableDialog" [modal]="true" header="Close Table" [closable]="true">
    <app-confirmation-pop-up
      [subtitle]="'Are you sure you want to close this table?'"
      (onClose)="closeCloseTableDialog()"
      (onSend)="closeTable()"
      [cancelLabel]="'No'"
      [sendLabel]="'Yes'">
    </app-confirmation-pop-up>
  </p-dialog>
  
  <p-toast></p-toast>
  
