:host {
    --light-cream: #e5d4c3;
    --light-tan: #e5c9ae;
    --beige: #debea2;
    --light-brown: #d6ab7d;
    --medium-brown: #b3895d;
    --brown: #9b744a;
    --dark-brown: #81583a;
    --darker-brown: #734f38;
    --deep-brown: #553725;
    --deepest-brown: #482919;
    --text-color: #333;
}

.charts-container {
    display: flex; /* Align charts in a row */
    justify-content: space-between; /* Space between charts */
    width: 90%; /* Total width minus the sidebar */
    margin-left: 7%; /* Margin to separate from the sidebar */
    margin-right: 5%; /* Margin on the right to prevent it from touching the edge */
    margin-top: 3%; /* Top margin for spacing */
    padding: 20px; /* Padding inside the container */
    background-color: var(--light-cream); /* Background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Shadow for the container */
}

.chart-wrapper {
    flex: 1; /* Each chart takes equal space */
    margin: 0 2%; /* Horizontal margin for separation, increased for more space */
    padding: 20px; /* Inner spacing of the wrapper */
}


.chart-title {
    text-align: center; /* Center the title */
    color: var(--text-color); /* Text color */
    margin-bottom: 20px; /* Bottom margin */
    font-size: 24px; /* Title font size */
    font-weight: bold; /* Bold text */
}

.card {
    background-color: white; /* Card background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Strong shadow */
    padding: 20px; /* Inner spacing of the card */
    transition: transform 0.3s ease; /* Smooth transition */
}

.card:hover {
    transform: translateY(-5px); /* Elevation effect on hover */
}

