html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 5%;
}

.section {
    flex: 1;
}

.image-section {
    flex: 0.5;
    height: 10%;
    width: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-section {
    flex: 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f522e;
    color: #f2f2f2;
}

.title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

:host {
    --light-cream: #e5d4c3;
    --light-tan: #e5c9ae;
    --beige: #debea2;
    --light-brown: #d6ab7d;
    --medium-brown: #b3895d;
    --brown: #9b744a;
    --dark-brown: #81583a;
    --darker-brown: #734f38;
    --deep-brown: #553725;
    --deepest-brown: #482919;
    --text-color: #333;
}

.charts {
    background-color: var(--light-cream);
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.all-charts-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    height: auto;
    margin-bottom: 20px;
}

.chart-title {
    text-align: center;
    color: #482919;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: auto;
    min-height: 300px;
    margin-bottom: 20px;
}

.chart-wrapper.category-revenue {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 40%;
}

.chart-wrapper.monthly-revenue {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 60%;
}

.card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-5px);
}

.p-chart {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Estilos específicos para Average Per Person y Average Per Ticket */
.per-day-chart .card, .per-person-chart .card {
    width: 80%; /* Ajusta el ancho como necesites */
    height: 300px; /* Ajusta la altura como necesites */
}

.per-day-chart p-chart, .per-person-chart p-chart {
    height: 100%; /* Asegura que el gráfico ocupe todo el espacio disponible */
}

.per-person-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--light-cream);
}

.per-day-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--light-cream);
}
