<div class="container-table-free">
  <div class="body">
    <div class="title"> The table was cleaned?</div>
    <div class="action-buttons">
      <button pButton label="Yes" class="create-order-button" (click)="cleanTable()"></button>
      <button pButton label="No" class="close-button" (click)="closeDialog()"></button>
    </div>
  </div>
</div>
       
<div *ngIf="loading" class="overlay">
  <p-progressSpinner styleClass="custom-spinner" [animationDuration]="'0.5'"></p-progressSpinner>
</div>