<div class="home-container">
    <div class="spaces-conteiner">
        <div class="space image-space image1"></div>
        <div class="space image-space image2">
            <div (click)="navigateToTables()" class="overlay">Watch our tables</div>
        </div>
        <div class="space image-space image3"></div>
        <div class="space image-space image4">
            <div (click)="navigateToOrders()" class="overlay">Order now</div>
        </div>
        <div class="space image-space image5"></div>
        <div class="space image-space image6">
            <div (click)="navigateToProductsView()" class="overlay">View products</div>
        </div>
    </div>
    <div class="slogan">
        "Where Every Sip Tells a Story, and Every Bite Brings You Home"
    </div>
</div>

<!--Poner el mouse como seleccion-->