:host ::ng-deep .custom-menubar .p-menubar {
    background-color: #035E7B; /* Fondo del menú principal */
}

:host ::ng-deep .custom-menubar .p-menuitem-icon {
    color: #ffffff; /* Color del ícono de los ítems */
}

:host ::ng-deep .custom-menubar .p-menuitem-text {
    color: #ffffff; /* Color del texto de los ítems */
}

/* Estilos para los submenús desplegables */
:host ::ng-deep .custom-menubar .p-submenu-list {
    background-color: #035E7B; /* Fondo del submenú desplegable */
}

/* Al pasar el ratón sobre un ítem del submenú */
:host ::ng-deep .custom-menubar .p-submenu-list .p-menuitem-link:hover {
    background-color: #024A63; /* Cambia el color de fondo al hacer hover */
}

:host ::ng-deep .custom-menubar .p-menubar .p-menuitem-link:hover {
    background-color: #024A63; /* Cambia el color de fondo al hacer hover */
}


