.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    background-color: #533521;
}

.custom-tieredmenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5%;
    background-color: transparent;
    border-radius: 0px;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: transparent;
    padding: 0 10px; 
}

/* Logo del menú */
.menu-logo {
    margin-top: 30%;
    width: 30px;
    height: auto;
}

:host ::ng-deep .custom-tieredmenu .p-tieredmenu {
    background-color: #533521;
    width: 100%;
    height: 100vh;
    border-radius: 4px;
    padding-top: 60px;
    position: relative;
    border-color: #533521;;
}

:host ::ng-deep .custom-tieredmenu .p-menuitem-link:hover {
    background-color: #7f522e !important; /* Color de hover marrón */
    color: #ffffff !important;
}

:host ::ng-deep .custom-tieredmenu .p-menuitem-link .p-submenu {
    background-color: #795548 !important; /* Fondo marrón para el submenú */
}

/* Estilo de los ítems dentro del submenú */
:host ::ng-deep .custom-tieredmenu .p-menuitem-link .p-menuitem-link {
    color: #ffffff !important; /* Texto blanco para ítems del submenú */
}


/* Estilo de hover para los ítems del submenú */
:host ::ng-deep .custom-tieredmenu .p-menuitem-link .p-menuitem-link:hover {
    background-color: #7f522e !important; /* Fondo marrón en hover para subitems */
    color: #ffffff !important; /* Texto blanco en hover para subitems */
}


:host ::ng-deep .custom-tieredmenu .p-menuitem-icon {
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem ;
    
}


:host ::ng-deep .p-submenu-icon {
    display: none;
}
