<!-- user-register.component.html -->
<div class="login-container">
    <!-- Imagen de fondo borrosa -->
    <div class="background-blurred"></div>

    <!-- Contenedor centrado con la imagen y el formulario -->
    <div class="center-container">
        <!-- Imagen partida a la mitad -->
        <div class="image-half">
            <img src="assets/images/login.jpg" alt="Imagen centrada">
        </div>

        <!-- Formulario en fondo marrón -->
        <div class="form-half">
            <div class="form-container">
                <!-- Botones de navegación en la parte superior -->
                <div class="nav-buttons">
                    <button class="nav-btn" [routerLink]="'/'">LOG IN</button>
                    <button class="nav-btn active">SIGN UP</button>
                </div>
            
                <!-- Formulario de registro -->
                <div class="login-form">
                    <!-- Campo de Nombre -->
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <input pInputText id="name" [(ngModel)]="name" name="name" />
                                <label for="name">Name</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <!-- Campo de Email -->
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <input pInputText id="email" [(ngModel)]="email" name="email" />
                                <label for="email">Email</label>
                            </p-floatLabel>
                        </div>
                    </div>
            
                    <!-- Campo de Contraseña -->
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <p-password [feedback]="false" [(ngModel)]="password" name="password" />
                                <label for="password">Password</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <!-- Campo de Fecha de Nacimiento -->
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="birthDate" id="birthday" name="birthday" dateFormat="dd/mm/yy"></p-calendar>
                                <label for="birthday">Birthday</label>
                            </p-floatLabel>
                        </div>
                    </div>
            
                    <!-- Botón de Enviar -->
                    <div class="form-button">
                        <div class="card flex justify-content-center">
                            <p-toast />
                            <p-confirmDialog />
                            <p-button label="Register" (click)="onRegister($event)"></p-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
