.login-container {
    background-color: #4281A4;
    width: 55%;
    padding: 4rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo del welcome-container */
.welcome-container {
    width: 100%;
    max-width: 40%;
    text-align: left;
}

.welcome-container .title {
    margin-top: 0px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
}

.welcome-container .description {
    font-size: 1.2rem;
    color: #ffffffa2;
    margin-bottom: 2rem;
}

:host ::ng-deep p-divider {
    height: 350px;
}

/* Contenedor del formulario */
.login-form {
    flex-direction: column;
    width: 100%;
    max-width: 60%;
    margin-left: 5%;
}

.form-input {
    margin-bottom: 6%;
    width: 100%;
}

.p-inputtext {
    width: 275px;
    height: 45px;
    background-color: #035E7B;
    border: 1px solid #035E7B;
    border-radius: 4px;
    color: #ffffff;
}

::ng-deep .p-password input,
::ng-deep .p-calendar input {
    width: 275px;
    height: 45px;
    background-color: #035E7B;
    border: 1px solid #035E7B;
    border-radius: 4px !important;
    color: #ffffff;
}

::ng-deep .p-float-label label {
    color: #ffffffa2;
}

/* Estilos para el botón */
.form-button {
    width: 100%;
}

:host ::ng-deep .form-button .p-button {
    color: #ffffff;
    width: 280px;
    border-radius: 50px;
}

:host ::ng-deep .form-button .p-button:hover {
    background-color: #035E7B;
}

/* Imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.image-container img {
    max-width: 150px;
}


@media screen and (max-width: 800px) {
    .login-container {
        width: 85%;
        height: auto;
        padding: 2rem;
        flex-direction: column;
    }

    .welcome-container {
        max-width: 100%;
        text-align: center;
    }

    :host ::ng-deep p-divider {
        width: 100%;
        height: 1px;
        margin-bottom: 10%;
    }

    .login-form {
        margin-left: 0;
        margin-top: 2rem;   
    }

    .p-inputtext {
        width: 220px;
    }

    ::ng-deep .p-password input,
    ::ng-deep .p-calendar input {
        width: 220px;
    }

    .form-button {
        margin-top: 20%;
        width: 100%;
    }

    :host ::ng-deep .form-button .p-button {
        width: 220px;
    }

    .image-container {
        margin-left: 8%;
    }

    .image-container img {
        max-width: 130px;
    }

    ::ng-deep .p-dialog .p-button {
        width: auto;
        max-width: 100px;
        padding: 0.5rem 1rem; 
        margin: 0.5rem;
    }
    

}
