<div class="container">
    <div class="column column-left">
        <p class="title">PROFILE</p>
        <div class="profile-info">
            <div class="info-group">
                <label for="name">Name</label>
                <p class="user-data">{{ name }}</p>
                <hr>
            </div>
            <div class="info-group">
                <label for="email">Email</label>
                <p class="user-data">{{ email }}</p>
                <hr>
            </div>
            <div class="info-group">
                <label for="birthday">Birthday</label>
                <p class="user-data">{{ birthday }}</p>
                <hr>
            </div>
        </div>
        
        <!-- Grupo de botones -->
        <div class="button-group">
            <button (click)="showChangePasswordDialog()" class="btn">Change Password</button>
            <button (click)="showConfirmDeleteDialog()" class="btn">Delete Account</button>
            <button class="btn">Help</button>
        </div>
    </div>
    
    <!-- Nueva estructura del contenedor derecho -->
    <div class="column column-right">
      <div class="right-top-section">
        <h1 class="rewards-title">C&V Rewards</h1> <!-- Title for C&V Rewards -->
        <div class="user-info">
          <h2>{{ userName }}</h2>
          <p>Level: {{ userLevel }}</p>
        </div>
        <div class="card">
          <p-carousel 
              [value]="rewards" 
              [numVisible]="3" 
              [numScroll]="1" 
              [responsiveOptions]="responsiveOptions">
                  <ng-template let-reward pTemplate="item">
                      <div class="reward-box border-1 surface-border border-round m-2 p-3" (click)="showDiscountCode(reward)">
                          <div class="mb-3">
                              <div class="relative mx-auto">
                                  <img 
                                      src="{{ reward.imageUrl }}" 
                                      [alt]="reward.name" 
                                      class="w-full border-round" />
                              </div>
                          </div>
                          <div class="mb-3 font-medium text-center">
                              {{ reward.name }}
                          </div>
                      </div>
                  </ng-template>
          </p-carousel>
      </div>
      <p-dialog [(visible)]="displayDiscountDialog" [modal]="true" header="Discount Code" [closable]="true">
          <div class="text-center">
              <h3>{{ selectedReward?.name }}</h3>
              <p>Use code <strong>{{ selectedReward?.discountCode }}</strong> for a discount!</p>
          </div>
      </p-dialog>
      </div>
      <div class="right-bottom-section">
      </div>
    </div>

</div>

<p-dialog [(visible)]="displayConfirmDeleteDialog" [modal]="true" header="Delete Account" [closable]="true">
    <app-confirmation-pop-up
      [subtitle]="'Are you sure you want to proceed?'"
      (onClose)="closeConfirmDeleteDialog()"
      (onSend)="onDeleteAccount()">
    </app-confirmation-pop-up>
  </p-dialog>

  <p-dialog [(visible)]="displayChangePasswordDialog" [modal]="true" header="Change Password Account" [closable]="true">
    <app-confirmation-pop-up
      [subtitle]="'Are you sure you want to proceed?'"
      (onClose)="closeChangePasswordDialog()"
      (onSend)="changePassword()">
    </app-confirmation-pop-up>
  </p-dialog>
  
  
  <p-dialog [(visible)]="displayErrorDialog" [modal]="true" header="Error" [closable]="true">
    <app-notice
      [subtitle]="'Something went wrong, please try again'"
      (onClose)="closeErrorDialog()">
    </app-notice>
  </p-dialog>
  
  <p-toast></p-toast>