<div class="container">
    <div class="column column-left">
        <p class="title">PROFILE</p>
        <div class="profile-info">
            <div class="info-group">
                <label for="name">Name</label>
                <p class="user-data">{{ name }}</p>
                <hr>
            </div>
            <div class="info-group">
                <label for="email">Email</label>
                <p class="user-data">{{ email }}</p>
                <hr>
            </div>
            <div class="info-group">
                <label for="birthday">Birthday</label>
                <p class="user-data">{{ birthday }}</p>
                <hr>
            </div>
        </div>
        <div class="button-group">
            <button class="btn">Change Password</button>
            <button class="btn">Delete Account</button>
            <button class="btn">Help</button>
        </div>
    </div>
    
    <!-- Nueva estructura del contenedor derecho -->
    <div class="column column-right">
        <div class="blurred-background"></div> <!-- Fondo desenfocado -->
        <img src="../../../assets/images/user.jpg" alt="Imagen de perfil del usuario" class="profile-image">
    </div>
</div>
