html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    margin-left: 5%;
}

.column {
    display: flex;
    color: #ffffff;
}

.column-left {
    width: 45%;
    background-color: #7f522e;
    padding: 5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.column-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; /* Remove padding from the container to keep a clean split */
    height: 100vh; /* Make the right column occupy full viewport height */
}
.right-top-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d3a1e;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative; /* Add this to position the mug icon */
}

.right-bottom-section {
    flex: 1;
    background-color: #e5d4c3;
    padding: 20px;
    overflow-x: auto;
}

.mug-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #caa171;
    border-radius: 40%;
    width: 60px;
    height: 40px;
    position: absolute; /* Add this to position the mug icon */
    top: 20px; /* Add this to position the mug icon at the top */
    left: 20px; /* Add this to position the mug icon at the left */
    z-index: 2; /* Add this to ensure the mug icon is on top */
}

.mug-icon {
    font-size: 1.5rem; /* Adjust icon size */
    color: #fff; /* Icon color */
}
  
  .rewards-title {
    font-size: 1.8rem; /* Adjust title size if needed */
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }

.user-info {
    color: #ffffff;
}

.user-info h2 {
    font-size: 1.5rem;
    margin: 0;
}

.user-info p {
    font-size: 1.2rem;
    margin-top: 5px;
}

.reward-box {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background-color: #e5d4c3; 
    border: 1px solid #caa171; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    text-align: center;
    width: calc(100% - 30px);
    margin: 0 15px 15px 15px;
}

.reward-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.reward-box img {
    max-width: 100%; 
    border-radius: 10px;
}

.reward-box .mb-3 {
    color: #7f522e; 
    font-weight: bold; 
}

.reward-box .font-medium {
    font-size: 1.2rem;
    color: #5d3a1e;
    font-weight: 600;
}
.discount-dialog-content {
    padding: 15px;
    text-align: center;
    background-color: #e5d4c3; /* White background for contrast */
}


.ranking-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #5d3a1e;
}
.table-container .name-column {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between the image and name */
  }
  
  .table-container .user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Makes the image circular */
  }

/* Fondo desenfocado */
.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/user.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 8;
    z-index: 1;
}

/* Imagen de perfil */
.profile-image {
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2; /* Mantener la imagen por encima del fondo */
}

.title {
    margin: 0;
    padding-top: 0px;
    margin-bottom: 10%;
    font-size: 2rem;
    text-align: left;
    width: 100%;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.info-group {
    margin-bottom: 25px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
}


/* Botones */
.button-group {
    margin-top: 20px;
}

.btn {
    background-color: #caa171;
    color: #7f522e;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #b58958;
    color: #ffffff;
}
:host ::ng-deep .p-toast,
:host ::ng-deep .p-confirmDialog {
    max-width: 300px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .column-left {
        width: 100%; /* Ajusta el ancho del contenedor izquierdo */
    }

    .column-right {
        display: none; /* Oculta la columna derecha en pantallas pequeñas */
    }

    .container {
        margin-left: 10%;
    }
    .column-right {
        display: block;
        width: 100%;
    }

    .right-top-section {
        flex-direction: column;
        gap: 10px;
    }
}