
  <div class="form-input">
    <div class="card flex justify-content-center">
        <p-floatLabel>
            <p-password [toggleMask]="true" [(ngModel)]="newPassword" (ngModelChange)="validatePassword()" class="custom-password">         
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Requirements</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li [class.valid]="passwordValid.lowercase">At least one lowercase</li>
                        <li [class.valid]="passwordValid.uppercase">At least one uppercase</li>
                        <li [class.valid]="passwordValid.numeric">At least one numeric</li>
                        <li [class.valid]="passwordValid.minLength">Minimum 8 characters</li>
                    </ul>
                </ng-template>
            </p-password>
            <label for="password">Password</label>
        </p-floatLabel>
    </div>
    <div class="form-button">
      <div class="card flex justify-content-center">
          <p-button label="Save" [disabled]="!areAllFieldsFilled()" (click)="showConfirmDialog()"></p-button>
      </div>
  </div>
  <p-dialog [(visible)]="displayConfirmDialog" [modal]="true" header="Confirm Registration" [closable]="true">
    <app-confirmation-pop-up 
        [subtitle]="'Are you sure you want to proceed?'" 
        (onClose)="closeConfirmDialog()"    
        (onSend)="confirmPasswordReset()">
    </app-confirmation-pop-up>
</p-dialog>



