.form-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #533521c7; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
}

.form-title {
    font-size: 20px;
    color: #7f522e; 
    margin-bottom: 20px;
}


.form-input {
    margin-bottom: 7%;
    width: 100%; 
}


::ng-deep .form-input input {
    width: 100%;
    padding: 10px;
    border-radius: 30px  !important; 
    border: 1px solid #af9375;
    background-color: #af9375;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

::ng-deep .form-input p-password .p-password-input {
    width: 100%;
    padding: 10px;
    border-radius: 30px  !important; 
    border: 1px solid #af9375;
    background-color: #af9375;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

::ng-deep .form-input p-password .p-password-input:focus {
    border-color: #6d4f28;
    outline: none;
}

::ng-deep .form-input label {
    color: #fff;
    margin-left: 10px;
}

::ng-deep .form-button .p-button {
    margin-top: 5%;
    width: 100%;
    background-color: #ab602f !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 80px !important;
    transition: background-color 0.3s !important;
}

::ng-deep .form-button .p-button:hover {
    background-color: #894d24 !important;
}


@media (max-width: 920px) {
    ::ng-deep .form-input input {
        width: 100%;
    }

    ::ng-deep .form-input p-password .p-password-input {
        width: 100%;
    }

    ::ng-deep .form-button .p-button {
        width: 100%;
    }
}
