html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 5%;
    background-image: url('../../../assets/images/goals.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.737);
}

.section {
    flex: 0.15;
    position: relative;
    z-index: 2;
}

.title-section {
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f522e;
    color: #f2f2f2;
}

.title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.avarage-goals{
    margin-top: 1%;
    margin-right: 2%;
}

::ng-deep .goal-card .p-card {
    border-radius: 15px !important;
}

.goals-content {
    z-index: 2;
    padding: 3%;
    display: flex;
    align-items: stretch;
}
.goals-content {
    overflow-x: auto; /* Permite el scroll horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan en la siguiente línea */
}

.goal-card {
    display: inline-block; /* Permite que las tarjetas se alineen horizontalmente */
    width: 150px; /* Establece un ancho fijo para cada tarjeta */
    margin-right: 15px; /* Espaciado entre tarjetas */
}

.avarage-goals {
    flex-basis: 100%;
}

.add-goal-button {
    margin-left: 2%;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.small-button {
    width: 100%;
    padding: 0.5rem;
}

.calendar-button {
    width: 100%;
    cursor: pointer;
}

::ng-deep .add-goal-button .p-button {
    height: 3rem;
    font-size: 1.1rem;
    background-color: #7f522e !important; 
    color: white !important; 
    display: flex;
    align-items: center;
    justify-content: center; 
    border: none;
}

::ng-deep .calendar-button .p-calendar {
    height: 2.8rem;
    font-size: 2rem;    
}

::ng-deep .calendar-button .p-calendar .p-datepicker-trigger {
    color: #7f522e !important;
    background-color: transparent !important;
}

::ng-deep .calendar-button .p-calendar .p-datepicker-trigger-icon {
    font-size: 1rem !important;
    color: #7f522e !important;
}

.p-scrollpanel {
    overflow: auto;
}

.scroll-panel {
    max-height: 400px;
    width: 100%;
    overflow: auto; /* Asegúrate de permitir el desplazamiento */
}

.nav-button {
    background-color: transparent;
    border: none;
    color: #7f522e;
    font-size: 24px;
    cursor: pointer;
    align-self: center;
  }
  
  .nav-button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }


  /*EACH GOAL*/
  .each-goal-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background-image: url('/path/to/your/background-image.png'); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* Controla la transparencia del fondo */
    border-radius: 10px;
}

.each-goal-card {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    height: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.each-goal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.each-goal-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}

.progress-knob {
    margin-top: 1rem;
    font-size: 1.5rem;
}
