html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    background-color: #eedfd63f;
    min-height: 100vh;
    margin: 0; /* Quitar margen negativo */
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-left: 5%;
}

