html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    background-color: #eedfd63f;
    min-height: 100vh;
    min-width: 100%;
    margin: -8px;
    display: flex;
    flex-direction: column;
}

.fondo {
    z-index: -1;
    width: 100%;
}
