<div class="image-container">
    <img src="../../../assets/images/logo.png" alt="Logo" />
</div>

<div class="flex justify-content-center flex-wrap">

    <div class="login-container flex align-items-center justify-content-center">
        
        <div class="login-form">

            <div class="form-input">
                <div class="card flex justify-content-center">
                    <p-floatLabel>
                        <input pInputText id="email" [(ngModel)]="email" />
                        <label for="email">Email</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="form-input">
                <div class="card flex justify-content-center">
                    <p-floatLabel>
                        <p-password [(ngModel)]="password"/>
                        <label for="password">Password</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="form-button">
                <div class="card flex justify-content-center">
                    <p-button label="Log In" (click)="onLogin()" [outlined]="true"/>
                </div>
            </div>

            <div class="reset-password">
                <div class="card flex justify-content-center">
                    <a [routerLink]="'/user-forgot-password'" >Forgot your password? Click here</a>
                </div>
            </div>
        </div>
    
        <p-divider [layout]="isMobile ? 'horizontal' : 'vertical'"/>
    
        <div class="sign-in-text">
            <div class="card flex justify-content-center">
                <p-button label="Sign Up" [routerLink]="'/user-register'" [rounded]="true" />
            </div>
        </div>
        
    </div>
</div> 

