/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';
@import 'primeng/resources/primeng.min.css';

::ng-deep .p-dialog {
    border-radius: 50px !important;
}

.p-toast, .p-confirmDialog {
    position: fixed;
    z-index: 10000;
}

.p-confirm-dialog-accept {
    background-color: #5b3114 !important; /* Cambiar el color de fondo */
    color: white !important; /* Cambiar el color del texto */
    border: none !important;
  }
  
  /* Estilo para el botón de rechazar */
  .p-confirm-dialog-reject {
    background-color:#5b3114 !important; /* Cambiar el color de fondo */
    color: white !important; /* Cambiar el color del texto */
    border: none !important;
  }
  
  /* Estilo para los botones al pasar el ratón por encima */
  .p-confirm-dialog-accept:hover {
    background-color: #96745b  !important;
  }
  
  .p-confirm-dialog-reject:hover {
    background-color: #96745b  !important;
  }
  
  body,
  p,
  div,
  span,
  .p-component {
      font-family: 'Rubik Regular', sans-serif;
  }
