html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    margin-left: 5%;
}

.column {
    display: flex;
    color: #ffffff;
}

.column-left {
    width: 45%;
    background-color: #7f522e;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.column-right {
    width: 55%;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title {
    margin: 0;
    padding-top: 0px;
    margin-bottom: 5%;
    font-size: 2rem;
    text-align: left;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; 
    align-items: center; 
}

.form-group {
    margin-bottom: 10px;
    width: 100%; 
    max-width: 400px; 
}

label {
    display: block;
    margin-bottom: 5px; 
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 2%;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #7f522e;
    background-color: #cbccbc;
    color: #7f522e;;
    font-size: 1.2rem;
}

.btn-save {
    margin-top: 30%;
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #caa171;
    background-color: #caa171;
    color: #7f522e;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-save:hover {
    background-color: #b58958;
    color: #ffffff;
    border-color: #b58958; 
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 9999; /* Asegurarse de que esté por encima de todo */
  }
  
.loading-overlay p-progressSpinner {
    width: 80px;
    height: 80px;
}

.app-categories-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
}

.category-dropdown-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    position: relative;
}

::ng-deep .category-dropdown-container .p-dropdown {
    flex-grow: 1; 
    height: 50px;
    min-width: 340px; 
    border-radius: 10px;
    border: 1px solid #7f522e;
    background-color: #cbccbc;
    color: #7f522e;
    font-size: 1.2rem;
}

::ng-deep .category-dropdown-container .p-dropdown .p-dropdown-label {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

::ng-deep .category-dropdown-container .p-dropdown .p-dropdown-item {
    color: #7f522e;
}

::ng-deep .category-dropdown-container .p-dropdown .p-dropdown-item:hover {
    background-color: #caa171;
}


.category-dropdown-container button {
    height: 50px;
    width: 50px; 
    border-radius: 50%; 
    background-color: #56371e6b; 
    color: white; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category-dropdown-container button:hover {
    background-color: #56371e89;
}


.calories-display {
    flex: 1;
    height: 50px;
    width: 320px;
    border-radius: 10px;
    border: 1px solid #7f522e;
    background-color: #cbccbc;
    color: #7f522e;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.calories {
    display: flex; 
    align-items: center;
}

.calories-display {
    flex: 1;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #7f522e;
    background-color: #cbccbc;
    color: #7f522e;
    font-size: 1.2rem;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.calories button {
    height: 50px; 
    width: 50px;
    border-radius: 50%; 
    background-color: #56371e6b; 
    color: white; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px; 
}

.calories button:hover {
    background-color: #56371e89;
}

  

@media (max-width: 600px) {
    .container {
        margin-left: 10%;
    }
    
    .column-left {
        width: 100%;
        padding: 2%; /* Ajuste del padding para pantallas pequeñas */
    }
    
    .column-right {
        display: none; /* Oculta la columna derecha en pantallas pequeñas */
    }

    /* Estilos para el panel de categorías en móvil */
    .category-panel {
        margin-left: 5%;
        position: fixed;
        top: -100%; /* Oculto inicialmente */
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 1000;
        transition: top 0.3s ease; /* Animación para que el panel baje */
    }

    /* Cuando el panel está visible */
    .category-panel.open {
        top: 0; /* Panel visible, baja desde arriba */
    }

    /* Estilos para el ícono del lápiz */
    .category-icon {
        position: relative;
        cursor: pointer;
    }

    /* Cerrar botón dentro del panel */
    .close-panel {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5em;
        cursor: pointer;
    }
}
