<div class="container">
    <div class="title">Register a new Product</div>
    <div class="form">
        <div class="form-row">
            <div class="form-input">
                <div class="flex flex-column gap-2">
                    <label for="name">Product Name</label>
                    <input pInputText id="name" [(ngModel)]="name" />
                </div>
            </div>

            <div class="form-input description-input">
                <div class="flex flex-column gap-2">
                    <label for="description">Description</label>
                    <textarea pInputTextarea id="description" [(ngModel)]="description"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-input">
                <div class="flex flex-column gap-2">
                    <label for="price">Price</label>
                    <input pInputText id="price" [(ngModel)]="price" />
                </div>
            </div>

            <div class="form-input">
                <div class="flex flex-column gap-2">
                    <label for="amount">Amount</label>
                    <input pInputText id="amount" [(ngModel)]="amount" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-button">
        <div class="card flex justify-content-center">
            <p-toast />
            <p-confirmDialog />
            <p-button (onClick)="registerProduct()" label="Save" [outlined]="true" />
        </div>
    </div>
</div>
