html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.column {
    display: flex;
    color: #ffffff;
}

.column-left {
    width: 45%;
    background-color: #7f522e;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.column-right {
    width: 55%;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title {
    margin: 0;
    padding-top: 0px;
    margin-bottom: 15%;
    font-size: 2rem;
    text-align: left;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; 
    align-items: center; 
}

.form-group {
    margin-bottom: 20px;
    width: 100%; 
    max-width: 400px; 
}

label {
    display: block;
    margin-bottom: 5px; 
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 2%;
}

input {
    width: 100%;
    height: 60px; /* Ajusta la altura de los inputs */
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #7f522e;
    background-color: #cbccbc; /* Color de fondo del input */
    color: #7f522e; /* Color del texto del input */
    font-size: 1.2rem;
}

.btn-save {
    margin-top: 10%;
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #caa171;
    background-color: #caa171;
    color: #7f522e;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-save:hover {
    background-color: #b58958;
    color: #ffffff;
    border-color: #b58958; 
}

